<h1>
    <%= title %>
</h1>
<form action=""method="Post">
    <input type="text"name="name"required="true"placeholder="Enter Name..">
    <input type="email"name="email"required="true"placeholder="Enter email">
    <input type="password"name="password"required="true"placeholder="Enter password">
    <input type="password"name="confirm-password"required="true"placeholder="Enter confirm-password">
    <input type="submit"value="submit">
</form>