<h1>
    <%= title %>
</h1>
<form action="/users/create"method="Post">
    <input type="email"name="email"required="true"placeholder="Enter email">
    <input type="password"name="password"required="true"placeholder="Enter Password">
    <input type="submit"value="sign-in">
</form>