<h1>
    <%= title %>
</h1>
<form action="/users/create"method="Post">
    <input type="text"name="name"required="true"placeholder="Enter Name..">
    <input type="email"name="email"required="true"placeholder="Enter email">
    <input type="password"name="password"required="true"placeholder="Enter password">
    <input type="password"name="confirm_password"required="true"placeholder="Enter confirm-password">
    <input type="submit"value="sign-up">
</form>